@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/*
  VARIABLES DECLARATION ON ROOT
*/
:root {
    --green: rgb(33, 250, 131);
    --red: rgb(252, 86, 108);
    --dusky-green: rgb(6, 170, 94);
    --opac-white: rgba(255, 255, 255, .8);
    --form-txt:  rgba(255, 255, 255, .5);
    --darky: #1d2b3a;
    --light-grey: rgb(105, 105, 105);
}


/*
    COMMON STYLING
*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  overflow: hidden;
  background-color: var(--dusky-green);
}



/* 
  MAIN(SIGN-UP CARD) SECTION
*/
.card-container {
  display: grid;
  grid-template-columns: calc(100% - 60%) auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--darky);
}


/*
  FORM SECTION
*/
.form-container {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  padding: 50px;
  color: var(--form-txt);
}

.form-header {
  grid-column: 1 / -1;
  letter-spacing: .06em;
  margin-bottom: 30px;
  font-size: 40px;
  color: white;
}
input {
  display: block;
  border-radius: 4px;
  border: 0;
  border-bottom: 1px solid rgb(0,0,0,.4);
  padding: 6px 6px 6px 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: all .5s ease-in;
  color: var(--opac-white);
} 
input::placeholder{
  content: none;
}
span {
  letter-spacing: .05em;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .4s;
}
[type="submit"]{
  border: 0;
  background-color: var(--dusky-green);
  color: white;
  padding: 10px 50px;
  letter-spacing: .05em;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  outline: none;
}
form {
  width: auto;
  display: grid;
  place-items: center;
}

.btm-text {
  margin-top: 15px;
  font-size: 14px;
}
.btm-text-highlighted {
  color: var(--dusky-green);
}
.input-container {
  position: relative;
}
span:not(.btm-text-highlighted) {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  pointer-events: none;
}
